<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="images" href="/static/images">
    <link rel="fonts" href="/static/fonts">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="text-block">
        <a href="/">Hjemmeside</a>
        <a href="{{ url_for('meny') }}">Meny</a>
        <a href="{{ url_for('varer') }}">Varer</a>
        <a href="{{ url_for('kontakt') }}">Kontakt</a>
        <br>
        <a class="l" href="{{ url_for('register') }}">Registrer-ny-bruker</a>
        <a class="l" href="{{ url_for('login') }}">Logg-inn</a>

    </nav>
    <script src="/static/js/script.js"></script>
    {% block content %} {% endblock %}
</body>
</html>