{% extends "base.html" %}

{% block title %} varer {% endblock %}

{% block content %}


<div class="container">
    <h1 class="item2"> Varer </h1>
    <div class="break"></div>
    <div class="container">
        <div class="item">
            <img class="imgitem" src="/static/images/sjoko.png" height="50" width="115">
            <div class="item"> sjokolademelk </div>
            <div class="item"> pris: 40 kr </div>
        </div>
        <div class="item">  
            <img class="imgitem" src="/static/images/pixel_art_large.png" height="200" width="200">
            <div class="item"> Eple </div>
            <div class="item"> pris: 15 kr </div>
        </div>
    </div>
    <div class="break"></div>
    <h1> yoghurt </h1>
    <div class="break"></div>
    <div class="container">
        <div class="item">
            <img class="imgitem" src="/static/images/van.png" height="350" width="225">
            <div class="item"> vanilje </div>
            <div class="item"> pris: 30 kr </div>
        </div>
        <div class="item">
            <img class="imgitem" src="/static/images/jord.png" height="350" width="225">
            <div class="item"> jordbær </div>
            <div class="item"> pris: 30 kr </div>
        </div>
        <div class="item">
            <img class="imgitem" src="/static/images/skog.png" height="350" width="225">
            <div class="item"> skogsbær </div>
            <div class="item"> pris: 30 kr </div>
        </div>
    </div>
    <div class="break"></div>
    <h1> brus </h1>
    <div class="break"></div>
    <div class="container">

        <div class="item">
            <img class="imgitem" src="/static/images/zero_copy.png" height="100" width="100">
            <div class="item"> cola zero </div>
            <div class="item"> pris: 43 kr </div>
        </div>
        <div class="item">
            <img class="imgitem" src="/static/images/cola.png" height="200" width="110">
            <div class="item"> cola </div>
            <div class="item"> pris: 43 kr </div>
        </div>
        <div class="item">
            <img class="imgitem" src="/static/images/sprite_copy.png" height="110" width="110">
            <div class="item"> sprite </div>
            <div class="item"> pris: 43 kr </div>
        </div>
        <div class="item">
            <img class="imgitem" src="/static/images/fanta_copy.png" height="100" width="100">
            <div class="item"> fanta </div>
            <div class="item"> pris: 43 kr </div>
        </div>
    </div>
</div>


{% endblock %}